@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Knewave);

* {
	box-sizing: border-box;
}

body {
	margin: 20px;
	font: normal 14px 'Open Sans', sans-serif;
	background: ##00fff7;
	background-image: url("../img/bg-1.png"), url("../img/bg-2.png");
	background-repeat: repeat-x, repeat;
}

.container {
	margin: auto;
	width: 80%;
}

.container h1 {
	margin: 20px 0;
	color: rgba(255, 255, 255, 0.9);
	font: normal 64px 'Knewave', cursive;
	text-align: center;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.play {
    display: flex;
}

.play > div {
    flex: 1;
}

.editor {
	position: relative;
	background: #fff;
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.7);
	margin-right: 20px;
	padding: 40px 10px 10px;
	border-radius: 5px;
}

.editor:before {
	content: '/* Type code here */';
	position: absolute;
	color: #999;
	top: 12px;
}

.code {
	outline: none;
	word-break: break-all;
	min-height: 300px;
}

.result {
	margin-left: 20px;
}
