<!doctype html>
<html lang="en" ng-app="app">

    <head>
        <meta charset="utf-8">

        <title>Web Applications [UAM]- by Damian Sosnowski</title>

        <meta name="author" content="Damian Sosnowski">

        <script src="lib/angular.js"></script>
        <script src="js/app.js"></script>
    </head>

    <body ng-controller="AppCtrl">
    	<ul>
            <li ng-repeat="element in results" ng-click="clickElement(element)">{{element.name}} clicks: {{element.count}}</li>
        </ul>

        <p><button>Load Users</button></p>
    </body>
</html>
